html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
}
li a {
  text-decoration: underline;
  color: #0288d1;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.mdl-layout__header-row {
  padding: 0;
}
#container {
  margin-top: 20px;
  line-height: 25px;
}
#sign-in {
  color: #ffffff;
}
#video, #canvas {
  width: 75%    !important;
  height: auto   !important;
}
#viseur {
  width: 100%;
  position: absolute;
  top:80%;
}
#map { 
   height: 100%; 
}

@media screen and (max-width: 640px) {
  #video, #canvas {
    width: 100% !important;
  }
}